.animate-show {
  opacity: 1;
  border: 1px solid black;
  background: white;
  margin-bottom:0px;
  height:15%;


}
.dropDownMenu{

  background: #ccc;
  margin-top:0px;

    width: 18vw;
    height: 18vw;
}

.panel
{
   width:100%;
    border: 1px solid black;
    position:relative;
    display:inline-block;
}


