
<link rel="stylesheet" type="text/css" href="stylSzachownicy1.css"/>
<div ng-app="myApp" ng-controller="historiaCtrl">


    <div class="col-lg-6">
		<h1>Historia rozgrywki</h1>
		<div style="margin-top:40px;"class = "szachownica" >
			<div  data-ng-repeat="wiersz in gry[0].kolejnoscWierszy">
				<div class="wierszSzachownicy">
					<div  class="poleSzachownicyIndeksoweLewe">{{8-wiersz}}</div>
					<div data-ng-repeat="kolumna in [0, 1,2,3,4,5,6,7]">
						<div ng-style="kolorPola(wiersz, kolumna)" ng-click="aktywujPole(wiersz, kolumna)" class="poleSzachownicy {{pobierzPole(wiersz, kolumna, 0)}}"></div>
					</div>
				</div>
				

			</div>
			
			<div class="wierszSzachownicy">
					<div  class="poleSzachownicyIndeksoweLewe"></div>
				<div data-ng-repeat="kolumna2 in [0, 1,2,3,4,5,6,7]">
					<div class="poleSzachownicyIndeksoweDolne">{{indexChar(kolumna2)}}</div>
				</div>
			</div>
			
		</div>
	<h3>Najlepszy ruch według komputera</h3> 
	<span ng-click="najlepszyRuch()" class="btn btn-info" style = "margin-left:60px; padding-left:40px;padding-right:40px; background-color : #003153;">Wyświetl</span>

			

	</div>

	    <div style="margin-top:20px; max-height:700px; overflow: auto;" class="col-lg-6">
		<div>
			<h3 style="display:inline;">Przeciwnik: SI</h3>
			<span ng-click="nastepnyRuch()" class="btn btn-success" style="float:right;">Następny ruch</span>
			<span ng-click="poprzedniRuch()" class="btn btn-success" style="float:right; margin-right:20px;">Poprzedni ruch</span>
		</div>
				<div style="color:red" ng-show="statusKoncowy!=gry[0].playerColor && statusKoncowy !='d' ">
					Przegrana!
				</div>
				<div ng-show="statusKoncowy=='d'">
					Remis!
				</div>
				<div style="color:green" ng-show="statusKoncowy==gry[0].playerColor && statusKoncowy !='d'">
					Wygrana!
				</div>
			<div style="margin-top:40px;" class="list-group">
				<div class="list-group-item list-group-item-info">Historia</div>
				
				<div data-ng-repeat="kolumna in historia">
						<a class="list-group-item">{{getHistory($index)}}</a>
				</div>

				
			</div>
		</div>

</div>



<script>
    var app = angular.module("myApp", []);
</script> 