<link rel="stylesheet" type="text/css" href="kontrolki.css"/>
<link rel="stylesheet" type="text/css" href="stylSzachownicy1.css"/>

<div ng-include="'notifications.html'"></div>


<div  ng-controller="personalizacjaCtrl" class = "trescPodstrony">
	
		<form ng-submit="zmienKolor()" >
			<fieldset class="form-group">
			<legend>Wybierz kolor</legend>
			<div class="form-check">
				<div ng-repeat="(i, color) in colors" >
					<label style="float:left; margin:20px;" class="form-check-label" ng-click="zmienKolorId(i)">
						<input style="float:left;" type="radio" class="form-check-input" name="difficult" ng-model="difficult" id="difficult1" value="{{i}}" checked>
						<div style="float:left;"class = "szachownicaPodglad" >
							<div class="wierszSzachownicy">
									<div ng-style="{'background-color': '#' + color.color1}" class="poleSzachownicyPodglad"></div>
									<div ng-style="{'background-color': '#' + color.color2}"  class="poleSzachownicyPodglad"></div>
							</div>
							<div class="wierszSzachownicy">
									<div ng-style="{'background-color': '#' + color.color2}"  class="poleSzachownicyPodglad"></div>
									<div ng-style="{'background-color': '#' + color.color1}" class="poleSzachownicyPodglad"></div>
							</div>
						</div>
					</label>
				</div>
			</div>

			</fieldset>
			
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

</div>
