
<link rel="stylesheet" type="text/css" href="stylSzachownicy1.css"/>
<div ng-app="myApp" ng-controller="szachownicaCtrl">

	
    <div style="padding-top:20px;" class="col-lg-6">
	Szanse na wygraną:
		<div class = "pasekPrzewagi" >
		
			<span style="width: {{ przewagaBialychPx }}px" class = "przewagaBialych" >
			</span>
			
			<span style="width: {{ przewagaCzarnychPx }}px" class = "przewagaCzarnych" >
			</span>

			<span class = "napisPrzewagi" style="padding-left:10%; font-size:16px;">
			{{ przewagaBialych*100 }}%:{{ przewagaCzarnych*100 }}%
			</span>
			
		</div>
		<div style="margin-top:40px;"class = "szachownica" >
			<div  data-ng-repeat="wiersz in gry[0].kolejnoscWierszy">
				<div class="wierszSzachownicy">
					<div  class="poleSzachownicyIndeksoweLewe">{{8-wiersz}}</div>
					<div data-ng-repeat="kolumna in [0, 1,2,3,4,5,6,7]">
						<div ng-style="kolorPola(wiersz, kolumna)" ng-click="aktywujPole(wiersz, kolumna)" class="poleSzachownicy {{pobierzPole(wiersz, kolumna, 0)}}"></div>
					</div>
				</div>
				

			</div>
			
			<div class="wierszSzachownicy">
					<div  class="poleSzachownicyIndeksoweLewe"></div>
				<div data-ng-repeat="kolumna2 in [0, 1,2,3,4,5,6,7]">
					<div class="poleSzachownicyIndeksoweDolne">{{indexChar(kolumna2)}}</div>
				</div>
			</div>
			
		</div>
		<div style="margin-top:90px;" class ="przyciemnienieSzachownicy" ng-show="statusKoncowy!=null">
		
			<div class="napisPrzegranej" ng-show="statusKoncowy!=gry[0].playerColor && statusKoncowy !='d' ">
				Przegrana!
			</div>
			<div class="napisRemisu" ng-show="statusKoncowy=='d'">
				Remis!
			</div>
			<div class="napisWygranej" ng-show="statusKoncowy==gry[0].playerColor && statusKoncowy !='d'">
				Wygrana!
			</div>
			
		</div>
	</div>

	    <div style="margin-top:20px; max-height:700px; overflow: auto;" class="col-lg-6">
		<div>
			<h3 style="display:inline;">Przeciwnik: SI</h3>

			<span ng-click="poddajSie()" class="btn btn-danger" style="float:right;">Poddaj się!</span>
			<span ng-click="cofnjiRuch()" class="btn btn-success" style="float:right; margin-right:20px;">Cofnji ruch</span>
		</div>
			<div style="margin-top:40px;" class="list-group">
				<div class="list-group-item list-group-item-info">Historia</div>
				
				<div data-ng-repeat="kolumna in historia">
						<a class="list-group-item">{{getHistory($index)}}</a>
				</div>

				
			</div>
		</div>

</div>



<script>
    var app = angular.module("myApp", []);
</script> 